.solar-system {
  display: flex;
  justify-content: center;
  width: 100%;
}

.planet-card {
  align-items: center;
  display: inline;
  flex-direction: column;
  justify-content: center;
}

.planet-card img {
  width: 200px;
}
