div {
  margin-top: 15px;
  text-align: center;
  width: 700px;
}

.headline {
  border: 1px solid white;
  border-radius: 20%;
  height: 50px;
  margin-top: 15px;
  padding-top: 20px;
  width: 40%;
}

.planeta {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
